label{
    display:inline-block;
    width:200px;
    margin-right:30px;
    text-align:left;
}
    
input{
    width:150px;
    margin:0px auto;
}

#submitbtn{
    display:inline-block;
    width:100px;
}

body{
    text-align: center;
}
    
